* {
  font-size: 1.125rem; // 18px
  font-family: sans-serif;
}
h1 {
  font-size: 4.2222222rem; // 67.556px
  line-height: 5.1111111rem;
}
h2 {
  font-size: 2.6111111rem; //41.778px
  line-height: 3.8333333rem;
}
h3 {
  font-size: 1.6111111rem; // 25.778px
  line-height: 2.5555556rem;
}
